{% load static %}

<section class="section about" id="about">
    <div class="container">

        <figure class="about-banner">

            <img src="{% static 'images/about-banner.jpg'%}" width="800" height="652" loading="lazy" alt="Ethan's Photo"
                class="img-cover">

            <img src="{% static 'images/absolute-image.jpg'%}" width="800" height="717" loading="lazy" alt="Ethan's Photo"
                class="abs-img">

            <div class="abs-icon abs-icon-1">
                <ion-icon name="logo-css3"></ion-icon>
            </div>

            <div class="abs-icon abs-icon-2">
                <ion-icon name="logo-javascript"></ion-icon>
            </div>

            <div class="abs-icon abs-icon-3">
                <ion-icon name="logo-angular"></ion-icon>
            </div>

        </figure>

        <div class="about-content">

            <p class="section-subtitle">I'm a Developer</p>

            <h2 class="h2 section-title">I Develop Application that Help People</h2>

            <p class="section-text">
                Dliquip ex ea commo do conse namber onequa ute irure dolor in reprehenderit in voluptate velit esse
                cillum
                dolore eu
                fugiat nulla pariatu epteur sint occaecat cupidatat
            </p>

            <p class="section-text">
                Krnon proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
                omnis
            </p>

            <a href="#portfolio" class="btn btn-primary blue">View Portfolio</a>

        </div>

    </div>
</section>