{% extends 'base.html' %}
{% block title %} Home {% endblock %}


{% block body %}
{% load static %}
<section class="section about" id="about">
    {% for p in about %}
    <div class="container">

        <figure class="about-banner">

            <img src="{{p.first.url}}" width="800" height="652" loading="lazy" alt="Zayar Naing's Photo"
                class="img-cover">

            <img src="{{p.second.url}}" width="800" height="717" loading="lazy" alt="Zayar Naing's Photo"
                class="abs-img">

            <div class="abs-icon abs-icon-1">
                <ion-icon name="logo-css3"></ion-icon>
            </div>

            <div class="abs-icon abs-icon-2">
                <ion-icon name="logo-javascript"></ion-icon>
            </div>

            <div class="abs-icon abs-icon-3">
                <ion-icon name="logo-angular"></ion-icon>
            </div>

        </figure>

        <div class="about-content">

            <p class="section-subtitle">I'm a Developer</p>

            <h2 class="h2 section-title">{{p.title}}</h2>

            <p class="section-text">{{p.contact}}</p>

            <a href="#portfolio" class="btn btn-primary blue">View Portfolio</a>

        </div>

    </div>
    {% endfor %}
</section>

{% endblock %}