{% load static %}

<!---BLOG-->

<section class="section blog" id="blog">


    <div class="container">

        <p class="section-subtitle">Latest News</p>

        <h2 class="h2 section-title">Checkout My Recent Blogs</h2>

        <p class="section-text">
            Dliquip ex ea commo do conse namber onequa ute irure dolor in reprehen derit in voluptate
        </p>

        <div class="card">
            {% for p in blog %}
            <div class="card-hover">
                <div class="card-hover__content">
                    <div class="title">
                        <h4 class="card-hover__title">{{p.title}}</h4>
                    </div>
                    <div class="text">
                        <p class="card-hover__text">{{p.contact}}</p>
                    </div>
                    <a href="#" class="card-hover__link">
                        <span>Learn How</span>
                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                        </svg>
                    </a>
                </div>
                <div class="card-hover__extra">

                </div>
                <img src="{{p.img.url}}" alt="">
            </div>
            {% endfor %}

        </div>
    </div>

</section>