{% extends 'base.html' %}
{% block title %} Home {% endblock %}


{% block body %}
{% load static %}

<section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                <div class="about-text">
                    <small class="small-text">Welcome to <span class="mobile-block">my portfolio website!</span></small>
                    <h1 class="animated animated-text">
                        <span class="mr-2">I'm Zayar Naing</span>
                            <div class="animated-info">
                                <span class="animated-item">Front-End</span>
                                <span class="animated-item">BackEnd</span>
                                <span class="animated-item">FullStack</span>
                            </div>
                    </h1>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sunt explicabo perferendis adipisci dolores dolorem exercitationem distinctio numquam odio, magnam sapiente ipsam tempore neque porro excepturi dolor ullam, nam quidem!</p>
                    
                    <div class="custom-btn-group mt-4">
                      <a href="#" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i> Download Resume</a>
                      <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Get a free quote</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12 col-12">
                <div class="about-image svg">
                    <img src="{% static 'images/undraw/undraw_software_engineer_lvl5.svg' %}" class="img-fluid" alt="svg image">
                </div>
            </div>

        </div>
    </div>
</section>

{% include 'project.html' %}

{% endblock %}