{% extends 'base.html' %}
{% block title %} Home {% endblock %}


{% block body %}
{% load static %}

<main>
    <article>
        <!--- #HERO -->

        <section class="hero" id="home">
            <div class="container">
                {% for p in home %}
                <div class="hero-banner">
                    <img src="{{p.img.url}}" width="500" height="864" loading="lazy" alt="Zayar Naing's Photo"
                        class="img-cover">
                </div>
                <div class="hero-content">
                    <h2 class="hero-title">
                        <span>Hello I'm</span>
                        <strong>{{p.name}}</strong> {{p.title}}
                    </h2>
                    <p class="hero-text">{{p.contact}}</p>

                    <div class="btn-group">

                        <a href="{{p.file.url}}" download class="btn btn-primary blue">Download CV</a>

                        <a href="#about" class="btn">About Me</a>
                    </div>

                </div>
                {% endfor %}


            </div>
        </section>

        {% include 'about.html' %}
        {% include 'project.html' %}
        {% include 'skill.html' %}
        {% include 'contact.html' %}
        {% include 'blog.html' %}

    </article>
</main>

{% endblock %}