{% load static %}

<!-- 
        - #PORTFOLIO
      -->

<section class="section portfolio" id="portfolio">
  <div class="container">

    <p class="section-subtitle">Portfolio</p>

    <h2 class="h2 section-title">My Amazing Works</h2>

    <p class="section-text">
      Dliquip ex ea commo do conse namber onequa ute irure dolor in reprehen derit in voluptate
    </p>

    <ul class="portfolio-list">

      <li>
        <a href="#" class="portfolio-card" style="background-image: url('./assets/images/portfolio-1.jpg')">
          <div class="card-content">

            <p class="card-subtitle">Youtube</p>

            <h3 class="h3 card-title">Web Application for Desiverse</h3>

            <span class="btn-link">
              <span>View Project</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </span>

          </div>
        </a>
      </li>

      <li>
        <a href="#" class="portfolio-card" style="background-image: url('./assets/images/portfolio-2.jpg')">
          <div class="card-content">

            <p class="card-subtitle">Vimeo</p>

            <h3 class="h3 card-title">Web Application for Desiverse</h3>

            <span class="btn-link">
              <span>View Project</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </span>

          </div>
        </a>
      </li>

      <li>
        <a href="#" class="portfolio-card" style="background-image: url('./assets/images/portfolio-3.jpg')">
          <div class="card-content">

            <p class="card-subtitle">Soundcloud</p>

            <h3 class="h3 card-title">Web Application for Desiverse</h3>

            <span class="btn-link">
              <span>View Project</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </span>

          </div>
        </a>
      </li>

      <li>
        <a href="#" class="portfolio-card" style="background-image: url('./assets/images/portfolio-4.jpg')">
          <div class="card-content">

            <p class="card-subtitle">Details</p>

            <h3 class="h3 card-title">Web Application for Desiverse</h3>

            <span class="btn-link">
              <span>View Project</span>

              <ion-icon name="arrow-forward"></ion-icon>
            </span>

          </div>
        </a>
      </li>

    </ul>

  </div>
</section>