{% extends 'base.html' %}
{% block title %} Home {% endblock %}


{% block body %}
{% load static %}
<!-- 
        - #SKILLS
      -->

<section class="section skills" id="skills">
    <div class="container">

        <p class="section-subtitle">My Skills</p>

        <h2 class="h2 section-title">I Develop Skills Regularly</h2>

        <p class="section-text">
            Dliquip ex ea commo do conse namber onequa ute irure dolor in reprehen derit in voluptate
        </p>

        <ul class="skills-list">
            {% for p in skill %}
            <li class="skills-item">
                <div class="wrapper" style="width: 95%">
                    <h3 class=" skills-title">{{p.name}}</h3>

                    <data class="skills-data" value="{{p.progress}}">{{p.progress}}%</data>
                </div>

                <div class="skills-progress-box">
                    <div class="skills-progress" style="width: {{p.progress}}%"></div>
                </div>
            </li>
            {% endfor %}

        </ul>

    </div>
</section>
{% endblock %}